@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,700,200);

*, a:focus {
    outline: medium none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif -webkit-font-smoothing : antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body,
html {
    height: 100%;

}

html {
    font-size: 100%;
}

body {
    background-color: #fff;
    color: #666;
    height: 100%;
    width: 100%;
}

a {
    color: #666;
    -webkit-transition: color .5s;
    transition: color .5s;
    text-decoration: none;
}

a:hover, a:active {
    color: #FFA500;
    text-decoration: none;
}

.navigation li a {
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    -webkit-transition: color .5s, background-color .5s;
    transition: color .5s, background-color .5s;
}

.navigation li a:hover {
    color: #FFA500;
    background-color: rgba(255, 165, 0, 0.15);
}

#banner {
    position: relative;
    padding: 12em 0;
    background: url(http://lorempixel.com/1920/1080/) no-repeat center;
    background-size: cover;
    color: #fff;
}

#mainFeatures img {
    padding: 2px 15px 1px 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -65px;
}

.wrapper:after {
    content: "";
    display: block;
}

footer, .wrapper:after {
    margin-top: 15px;
    height: 50px;
}
footer {
    background-image: url(http://i.imgur.com/yJmILDm.jpg);
}

hr {
    opacity: 0.15;
}

.bg-off-white {
    background-color: #FCFCFC;
}